@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: url('https://source.unsplash.com/featured/?tools');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width:1600px;
  height: 30px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 16px;
  margin-left:0;
  padding-left: 0;
}

.text-center {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.navbar-style{
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
  padding: 20px, 30px;
}

.disabled-text {
  color: rgb(184, 179, 179)!important;
  opacity: 0.9; 
  cursor: not-allowed;
}

th{
  color: #000;
}
.table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.table th {
  background-color: #95A5A6;
  font-size: 20px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table td {
  background-color: white;
}

.btn-primary {
  background-color: #F8820F !important;
  border: none!important;
}

.btn-primary:hover {
  background-color: #858181 !important;
  color:#000 !important;
}

.card{
  background: #95A5A6 !important;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.navHeader{
  width:100vw;
}

.navbar-brand{
  font-size: 44px !important;
  font-family: 'Roboto', sans-serif !important;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}




